[Unit]
Description=Port-forward Cancel Service (8003)
After=network.target

[Service]
ExecStart=/usr/local/bin/kubectl port-forward svc/cancel-service 8003:8003 --address 0.0.0.0
Restart=always
RestartSec=5
User=ubuntu
WorkingDirectory=/home/ubuntu

[Install]
WantedBy=multi-user.target
